body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f7f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter {
    background-color: #8f4db5;
    padding: 20px;
    box-shadow: 0 0 10px rgba(152, 122, 122, 0.2);
    text-align: center;
}

h1 {
    font-size: 24px;
}

.input-container {
    margin-top: 20px;
}

input {
    padding: 10px;
    border: 1px solid #e0d9d9;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #dddee2;
    color: #050404;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.result {
    margin-top: 25px;
}

p {
    font-size: 20px;
}

span {
    font-weight: bold;
    color:  #01060a;;
}